# set operation: Union using operator ('|')

In [4]:
set1={1,6,'A','R',4}
set2={9,8,'c',8,'y'}
set_union=set1|set2
print("The union of the given sets:",set_union)

The union of the given sets: {1, 'A', 4, 6, 8, 9, 'y', 'R', 'c'}

# using union() function

In [7]:
set1={5,9,6,8}
set2={5,8,3,2}
print("The union of the given set is:",set1.union(set2))

The union of the given set is: {2, 3, 5, 6, 8, 9}

# intersection using operator ('&')

In [8]:
set1={'A',6,5,'D'}
set2={'A',9,5,'G'}
set_intersection=set1&set2
print("The intersection of the given sets:", set_intersection)

The intersection of the given sets: {'A', 5}

# intersection using intersection() function

In [9]:
set1={'A',6,5,'D'}
set2={'A',9,5,'G'}
print("The intersection is:", set1.intersection(set2))

The intersection is: {'A', 5}

# difference using '-' operator hint: takes only first set

In [12]:
set1={'A',6,5,'D',8,'y',122}
set2={'A',9,5,'G'}
print("The difference is:", set1-set2)

The difference is: {'D', 6, 8, 'y', 122}

# difference using difference() function

In [14]:
set1={'A',6,5,'D',10,'z','e'}
set2={'A',9,5,'G'}
print("The difference is:", set1.difference(set2))

The difference is: {'D', 6, 'z', 10, 'e'}

# symmetric difference using ^ operator

In [15]:
set1={'A',6,5,'D',10,'z','e'}
set2={'A',9,5,'G'}
print("The symetric difference is:", set1 ^ set2)

The symetric difference is: {'D', 6, 'z', 9, 10, 'e', 'G'}

# symmetric difference using symmetric_difference() function

In [16]:
set1={'A',6,5,'D',10,'z','e'}
set2={'A',9,5,'G'}
print("The symmetric difference is:", set1.symmetric_difference(set2))

The symmetric difference is: {'D', 6, 'z', 9, 10, 'e', 'G'}